.container{
    padding:10px;
    background-color: black;
    text-align:center;
}

.ship-container {
    display:flex;
    flex-wrap:wrap;
    padding:10px;
    justify-content: space-around;

}

.ship-card {
    width:270px;
    text-align: justify;
    padding:5px;
    margin:5px;
}


.ship-title {
    margin-bottom: 5px;
    color: turquoise;
    text-align: center;
}

.ship-model {
    text-align:left;
    color: yellow;
}

.logo-img {
    height: 200px;
}

